<!DOCTYPE html>
<html>
  <head>
    <title>Secret Santa 2023</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'xmas-bundle' %>
    <%= stylesheet_pack_tag 'xmas-bundle' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body style='margin: 0;'>
    <%= yield %>
  </body>
</html>
